{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="row ">
			<h2>{{ genre.name }}</h2>
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption class="name">{{ creator.name }}</figcaption>
			</figure>
	</div>
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row">
		<div class="col-md-11">
			<a href="{{url_for('editGenre', genre_id = genre.id )}}">
				<button class="btn btn-primary edit">
					<span class="glyphicon glyphicon-pencil gly" aria-hidden="true"></span>Edit Genre
				</button>
			</a>
			<a href="{{url_for('newBook', genre_id = genre.id )}}">
				<button class="btn btn-primary add">
					<span class="glyphicon glyphicon-book gly" aria-hidden="true"></span>Add Book
				</button>
			</a>
			<a href="{{url_for('deleteGenre', genre_id = genre.id )}}">
				<button class="btn btn-danger delete">
					<span class="glyphicon glyphicon-trash gly" aria-hidden="true"></span>Delete Genre
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	{% if books !=[] %}	
		<div class="row books">
			
					{% for i in books %}	
							  <div class="col-md-5">
								<img src="{{i.picture}}" alt="Book Cover">
							  </div>
							<div class="col-md-7 book-details">
								<h3><strong>{{i.name}}</strong></h3>
								<span class="author">by <strong>{{i.author}}</strong></span>
								<span class="bookRating">Rating: <strong>{{i.rating}}</strong></span>
								<span>Price: <strong>${{i.price}}</strong></span>
								<p>{{i.description}}</p>
							</div>
					</div>
		<div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-auto">
		          <a href='{{url_for('editBook', genre_id = genre.id, book_id=i.id ) }}'><button class="btn btn-primary add">
					     <span class="glyphicon glyphicon-book gly" aria-hidden="true"></span>Edit Book
				         </button>
			      </a> 
								<a href='{{url_for('deleteBook', genre_id = genre.id, book_id=i.id ) }}'>
								<button class="btn btn-danger add">
					<span class="glyphicon glyphicon-book gly" aria-hidden="true"></span>Delete Book
				</button>
			</a>
		</div>
		</div>
							
					{% endfor %}
		
	{% endif %}
	<figure>
          <a href="#top_of_page"><img src="http://www.webdesigndonewell.com/images/icon-top-of-page.png" class="top_of_page" alt="top_of_page icon"></a>
    </figure>

{% endblock %}